!!! 5



html
  header
    title rollyorown.ch
    link(rel="stylesheet", type="text/css", href="styles.css")
  
  body
    #container
      #left-ad
        - var html = "<script type="text/javascript"><!--
          google_ad_client = "ca-pub-7525011985979105";
          /* rollyourown.ch */
          google_ad_slot = "2730695257";
          google_ad_width = 160;
          google_ad_height = 600;
          //-->
          </script>
          <script type="text/javascript"
          src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
          </script>"
        | !{html}
      #video
        <iframe width="680" height="400" src="http://www.youtube.com/embed/T_3gmBWNRos" frameborder="0" allowfullscreen></iframe>
      #right-ad
      
    footer
      p
        a(href="mailto:j@rollyourown.ch") j@rollyourown.ch